* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;  
    background-color: #1b262c;  
}

header {
    text-align: center;
    background: #0f4c75;
    color: white;
    padding: 5px 0;
}

ul {
    list-style: none;
    width: 500px;
    margin: auto;
    overflow: auto;
}

ul li {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background: #0f4c75;
    color: #fdcb9e;
    border-radius: 5px;    
}

.container {        
    padding: 2rem;
}

#my-form {
    width: 500px;
    background: #0f4c75;
    color: #fdcb9e;
    border-radius: 5px;    
    padding: 10px;
    margin: auto;
    overflow: auto;
}

#my-form h1, label {
    display: block;
    margin: 5px;
}

#my-form input[type='text'] {
    width: 100%;
    border: solid 1px #ccc;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

.btn {
    background: #00b7c2;
    color: #1b262c;
    font-weight: bold;
    width: 100%;
    margin: 5px;
    padding: 1rem;
    border: solid 1px #00b7c2;
    border-radius: 5px;
}

.btn:hover {
    background: #1b262c;
    color: #00b7c2;
    border: #1b262c;
}

.error {
    background: orangered;
    color: white;
    padding: 5px;
    margin: 5px;
}